<thead class="bg-gray-50 dark:bg-slate-800">
  <tr>
    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Keyword
        </span>
      </div>
    </th>

    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Status
        </span>
      </div>
    </th>

    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Total Results
        </span>
      </div>
    </th>

    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Total Advertisement
        </span>
      </div>
    </th>


    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Total link
        </span>
      </div>
    </th>

    <th scope="col" class="px-6 py-3 text-start">
      <div class="flex items-center gap-x-2">
        <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
          Scraped at
        </span>
      </div>
    </th>

    <th scope="col" class="px-6 py-3 text-end"></th>
  </tr>
</thead>