
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
  <%= render 'columns' %>
  <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
    <%= turbo_frame_tag "keywords" do %>
      <%= render keywords %>
    <% end %>
  </tbody>
</table>
