
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
  <%= render 'columns' %>
  <tbody class="divide-y divide-gray-200 dark:divide-gray-700" id="<%=current_user.id %>_keywords" is="turbo-frame">
    <%= render keywords %>
  </tbody>
</table>
